// ---------- Dimensions ----------

$detail-item-inset: 60px;

// ---------- Individual styling ----------

.log-form-wrapper {
	background-color: $flat-white;

	@include fixed-center(50%, 40%);
	z-index: 2;

	display: flex;
	flex-direction: column;
	
	margin-left: $detail-item-inset;
	padding: 10px;

	border-radius: 4px;

	.datetime-input-wrapper {
		margin-top: 2px;
		margin-left: 4px;
		margin-bottom: 4px;
	}
}

.log-form-desc {
	@include set-dimensions(210px, 20px);
	@include set-colors(#EEEEEE, #555555);

	margin: 2px 0 6px 4px;
	padding: 4px 6px;

	border: 1px solid $flat-dark-gray;
	border-radius: 3px;

	vertical-align: bottom;
	text-indent: 2px;
}

.log-form-time {
	@include set-dimensions(210px, 20px);
	@include set-colors(#EEEEEE, #555555);

	margin: 2px 0 12px 4px;
	padding: 4px 6px;

	border: 1px solid $flat-dark-gray;
	border-radius: 3px;

	vertical-align: bottom;
	text-indent: 2px;
}

.log-form-controls {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	margin-left: 4px;
	margin-top: 3px;
}

.cancel-detail-log {
	background: none;
	border: none;

	height: 30px;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

.add-detail-log {
	background: none;
	border: none;

	@include set-dimensions(75px, 30px);
	@include set-colors($flat-dark-gray, $flat-white);

	display: inline;
	margin-left: 8px;
	border-radius: 5px;

	&:hover {
		cursor: pointer;
		background-color: $flat-mid-gray;
	}
}
