// ---------- Dimensions ----------

$navbar-height: 40px;
$sidebar-width: 200px;
$task-list-width: 650px;

// ---------- Individual styling ----------

.navbar-wrapper {
	height: 60px;

	background-color: #F7F7F7;
	border-bottom: 3px solid #E3E3E3;
}

.nav-content-wrapper {
	max-width: calc(#{$sidebar-width} + #{$task-list-width});
	height: 100%;
	margin: auto;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav-logo {
	width: 50px;
	height: 50px;

	margin-left: 10px;
	border-radius: 5px;

	background-color: #C0C0C0;
	background-image: url('/assets/img/logo-50px.png');
	background-repeat: no-repeat;
	background-position: center;
}

.settings-wrapper {
	margin-right: 10px;
}
