// ---------- Dimensions ----------

$navbar-height: 60px;
$navbar-border-height: 3px;
$sidebar-width: 200px;
$center-column-width: 650px;

// ---------- Individual styling ----------

.navbar-wrapper {
	height: $navbar-height;
	background-color: #F7F7F7;
	border-bottom: $navbar-border-height solid #E3E3E3;

	// To prevent page content moving when scrollbars are added
	padding-left: calc(100vw - 100%);
}

.nav-content-wrapper {
	max-width: calc(#{$sidebar-width} + #{$center-column-width});
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin: auto;
}

.nav-logo {
	@include set-dimensions(50px, 50px);

	border-radius: 5px;

	background-color: #C0C0C0;
	background-image: url('/assets/img/logo-50px.png');
	background-repeat: no-repeat;
	background-position: center;
}

.nav-settings-button {
	background: none;
	border: none;

	@include set-dimensions(40px, 40px);

	background-image: url('/assets/img/settings-40px.png');
	background-repeat: no-repeat;
	background-position: center;

	&:hover {
		cursor: pointer;
		background-image: url('/assets/img/settings-hover-40px.png');
	}
}


.settings-dropdown-wrapper {
	width: 150px;
	background-color: #F9F9F9;
	position: absolute;
	border: 2px solid #E3E3E3;
	border-radius: 3px;
}

.settings-dropdown-list {
	list-style-type: none;
}

.settings-dropdown-item {
	display: flex;
	align-items: center;
	margin: 2px;
	padding: 2px;

	&:hover {
		cursor: pointer;
		@include set-colors(#555555, #EEEEEE);
		object-position: 0px -20px; 
		
		.settings-dropdown-icon {
			object-position: 0px -20px;
		}
	}
}

.settings-dropdown-icon {
	@include set-dimensions(20px, 20px);
	object-fit: none;
	object-position: 0 0;
}
