// ---------- Dimensions ----------



// ---------- Individual styling ----------

.rating-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rating-inert {
	@include set-dimensions(20px, 20px);

	background-image: url('../../../build/assets/img/star-full-20px.png');
	background-repeat: no-repeat;
	background-position: center;
}

.rating-full {
	@include set-dimensions(20px, 20px);

	background-image: url('../../../build/assets/img/star-full-20px.png');
	background-repeat: no-repeat;
	background-position: center;

	&:hover {
		cursor: pointer;
	}
}

.rating-empty {
	@include set-dimensions(20px, 20px);

	background-image: url('../../../build/assets/img/star-empty-20px.png');
	background-repeat: no-repeat;
	background-position: center;
}
