// ---------- Dimensions ----------

$sidebar-width: 200px;

// ---------- Individual styling ----------

.sidebar {
	width: $sidebar-width;
}

.task-controls-wrapper {
	width: $sidebar-width;
}

.list-sort-controls {
	
}

.category-list-wrapper {
	width: $sidebar-width;
}

.category-item {

}

.active-category {
	
}