// ---------- Dimensions ----------

$sidebar-width: 200px;

// ---------- Individual styling ----------

.sidebar {
	width: $sidebar-width;
}

.task-controls-wrapper {
	width: $sidebar-width;
	margin-top: 15px;
}

.list-sort-dropdown {
	@include set-dimensions(165px, 30px);
	@include set-colors(#EEEEEE, #555555);

	margin: 2px 0 6px 4px;

	border: 1px solid $flat-dark-gray;
	border-radius: 3px;
}

.list-reveal-complete-label {
	display: flex;
	align-items: center;

	&:hover {
		cursor: pointer;
	}
}

.list-reveal-complete {
	margin-right: 5px;

	&:hover {
		cursor: pointer;
	}
}

.category-list-wrapper {
	width: calc(#{$sidebar-width} - 15px);
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid $flat-dark-gray;
	font-size: 11pt;
}

.category-item {
	margin: 2px;
	padding: 2px;
	border-radius: 4px;
	
	&:hover {
		background-color: $flat-gray;
		cursor: pointer;
	}
}

.active-category {
	background-color: $flat-white;
	font-weight: bold;
	border-radius: 4px;

	&:hover {
		background-color: $flat-white;
		cursor: default;
	}
}

.new-category-input {
	@include set-dimensions(165px, 20px);
	@include set-colors(#EEEEEE, #555555);

	margin-top: 5px;
	padding: 4px 6px;

	border: 1px solid $flat-dark-gray;
	border-radius: 3px;

	font-size: 10pt;
	text-indent: 2px;
}
