// ---------- Dimensions ----------

$sidebar-width: 200px;

// ---------- Individual styling ----------

.sidebar {
	width: $sidebar-width;
	margin-right: 6px;
}

.task-controls-wrapper {
	width: $sidebar-width;

	margin-top: 15px;
}

.list-sort-controls {
	
}

.list-sort-dropdown {
	height: 30px;
	width: 165px;

	background-color: #EEEEEE;
	color: #555555;
	
	margin-top: 2px;
	margin-bottom: 6px;
	margin-left: 4px;

	border: 1px solid $flat-dark-gray;
	border-radius: 3px;
}

.category-list-wrapper {
	width: calc(#{$sidebar-width} - 15px);
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid $flat-dark-gray;
}

.category-item {
	margin: 2px;
	border-radius: 4px;
	
	&:hover {
		background-color: $flat-gray;
		cursor: pointer;
	}
}

.active-category {
	@include set-colors($flat-dark-gray, $flat-white);
	border-radius: 4px;

	&:hover {
		background-color: $flat-dark-gray;
		cursor: default;
	}
}