// ---------- Dimensions ----------

$task-list-width: 650px;

// ---------- Mixins ----------



// ---------- Individual styling ----------

.task-list-wrapper {
	// Dimensions
	width: $task-list-width;
	height: 100%;
}

.task-list {	
	// Flexbox properties
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	width: 100%;
}
