// ---------- Dimensions ----------

$task-title-inset: 5px;
$detail-item-inset: 70px;
$detail-item-bottom-offset: 15px;

// ---------- Individual styling ----------

.task-detail-wrapper {
	width: 100%;
	background-color: $flat-white;
	padding-bottom: 10px;
	border-bottom: 1px solid #E3E3E3;
	font-size: 10pt;
}

.task-detail-title {
	width: calc(100% - calc(#{$task-title-inset} * 2));
	background-color: $flat-white;
	
	margin-top: 5px;
	margin-left: $task-title-inset;

	border: none;
	border-bottom-color: #6B6B6B;
	border-bottom-width: 2px;
	border-bottom-style: solid;

	font-size: 13pt;
	font-family: $primary-font;

	&:focus {
		outline: none;
	}
}

// ---------- Attributes (Time, Effort, Focus) ----------

.task-detail-attributes {
	display: flex;
	justify-content: space-around;
	align-items: center;

	margin-top: 8px;
	margin-bottom: $detail-item-bottom-offset;
}

.task-detail-attribute-rating {
	display: flex;
	align-items: flex-end;
	margin-top: 3px;
	margin-left: 10px;
}

.task-detail-time-img {
	@include set-dimensions(20px, 20px);

	margin-right: 5px;
	background: url('../../../build/assets/img/time-20px.png');
	background-repeat: no-repeat;
}

.task-detail-effort-img {
	display: inline-block;
	@include set-dimensions(20px, 20px);

	margin-right: 5px;
	background: url('../../../build/assets/img/effort-20px.png');
	background-repeat: no-repeat;
}

.task-detail-focus-img {
	display: inline-block;
	@include set-dimensions(20px, 20px);

	margin-right: 5px;
	background: url('../../../build/assets/img/focus-20px.png');
	background-repeat: no-repeat;
}

.task-detail-rating-full {
	@include set-dimensions(20px, 20px);

	background: url('../../../build/assets/img/star-full-20px.png');
	background-repeat: no-repeat;
}

.task-detail-full-editable {
	&:hover {
		cursor: pointer;
		background: url('../../../build/assets/img/star-empty-20px.png');
	}
}

.task-detail-rating-empty {
	@include set-dimensions(20px, 20px);

	background: url('../../../build/assets/img/star-empty-20px.png');
	background-repeat: no-repeat;
}

.task-detail-empty-editable {
	&:hover {
		cursor: pointer;
		background: url('../../../build/assets/img/star-full-20px.png');
	}
}

// ---------- Dates ----------

.task-detail-dates {
	display: flex;
	align-items: top;

	margin-bottom: $detail-item-bottom-offset;
}

.task-detail-date {
	margin-left: $detail-item-inset;

	.date-input-wrapper {
		margin-top: 2px;
		margin-left: 4px;
	}
}

// ---------- Category ----------

.task-detail-category {
	margin-bottom: $detail-item-bottom-offset;
}

.task-detail-category-label {
	margin-left: $detail-item-inset;
}

.task-detail-category-dropdown {
	@include set-dimensions(165px, 30px);
	@include set-colors(#EEEEEE, #555555);

	display: block;
	
	margin-top: 2px;
	margin-bottom: 6px;
	margin-left: calc(#{$detail-item-inset} + 4px);

	border: 1px solid $flat-dark-gray;
	border-radius: 3px;
}

// ---------- Controls ----------

.task-detail-submit-controls {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 40px;
}

.task-detail-cancel {
	background: none;
	border: none;

	height: 30px;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

.task-detail-save {
	background: none;
	border: none;

	@include set-dimensions(75px, 30px);
	@include set-colors($flat-dark-gray, $flat-white);
	display: inline;
	margin-left: 15px;
	border-radius: 5px;

	&:hover {
		cursor: pointer;
		background-color: $flat-mid-gray;
	}
}

// ---------- Log ----------

.task-detail-log-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
}

.toggle-detail-log {
	background: none;
	border: none;

	@include set-dimensions(25px, 25px);

	margin-left: 6px;

	background-image: url('../../../build/assets/img/list-20px.png');
	background-repeat: no-repeat;
	background-position: center;
	
	&:hover {
		cursor: pointer;
	}
}

.toggle-detail-log-label {
	display: flex;
	align-items: center;

	margin-right: auto;
	margin-left: 5px;

	&:hover {
		cursor: pointer;
	}
}

.show-log-form {
	background: none;
	border: none;

	@include set-dimensions(25px, 25px);

	margin-right: 6px;

	background-image: url('../../../build/assets/img/add-20px.png');
	background-repeat: no-repeat;
	background-position: center;
	
	&:hover {
		cursor: pointer;
	}
}

.task-detail-log {
	min-height: 4px;

	margin-top: 2px;
	margin-bottom: 4px;
}

.lightbox-dim {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;	// So that overlay covers most components
}

.log-detail-wrapper {
	width: calc(100% - 4px);

	display: grid;
	grid-template-columns: 160px auto 50px;
	align-items: center;

	margin-bottom: 7px;
	margin-left: 2px;
	padding-top: 3px;
	
	border-top: 1px #C0C0C0 solid;
}

.log-detail-date {
	margin-left: 15px;
}

.log-detail-time {
	justify-self: center;
}
