// ---------- Dimensions ----------

$task-form-width: 650px;
$task-form-height: 650px;
$task-form-item-inset: 70px;
$task-form-item-offset: 15px;

// ---------- Individual styling ----------

.task-form-wrapper {
	width: 100%;
	background-color: $flat-white;
	border-radius: 5px;
}

.task-form-title {
	@include set-dimensions(400px, 20px);
	@include set-colors(#EEEEEE, #555555);

	margin-top: 15px;
	margin-bottom: $task-form-item-offset;
	margin-left: 40px;
	padding: 4px 6px;

	border: 1px solid $flat-dark-gray;
	border-radius: 3px;

	font-size: 10pt;
	text-indent: 2px;
}

.task-form-attributes {
	display: flex;
	justify-content: space-around;
	align-items: center;

	margin-bottom: $task-form-item-offset;
}

.task-form-rating {
	display: flex;
	align-items: flex-end;
	margin-top: 3px;
	margin-left: 10px;
}

.task-form-time-img {
	@include set-dimensions(30px, 30px);
	margin-right: 5px;
	background: url('../../../build/assets/img/time-30px.png');
	background-repeat: no-repeat;
}

.task-form-effort-img {
	@include set-dimensions(30px, 30px);
	margin-right: 5px;
	background: url('../../../build/assets/img/effort-30px.png');
	background-repeat: no-repeat;
}

.task-form-focus-img {
	@include set-dimensions(30px, 30px);
	margin-right: 5px;
	background: url('../../../build/assets/img/focus-30px.png');
	background-repeat: no-repeat;
}

.task-form-dates {
	display: flex;
	align-items: top;
	margin-bottom: $task-form-item-offset;
}

.task-form-date {
	margin-left: $task-form-item-inset;

	.date-input-wrapper {
		margin-top: 2px;
		margin-left: 4px;
	}
}

.task-form-controls {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	margin-right: 40px;
	margin-bottom: $task-form-item-offset;
}

.task-form-cancel {
	background: none;
	border: none;

	height: 30px;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

.task-form-submit {
	background: none;
	border: none;

	@include set-dimensions(75px, 30px);
	@include set-colors($flat-dark-gray, $flat-white);
	
	display: inline;
	margin-left: 15px;
	border-radius: 5px;

	&:hover {
		cursor: pointer;
		background-color: $flat-mid-gray;
	}
}
