// ---------- Dimensions ----------

$center-column-width: 650px;

// ---------- Individual styling ----------

.task-list-wrapper {
	width: 100%;
}

.task-list {	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0 5px;
}
