.date-error-text {
	color: #CF000F;
	font-size: 10pt;
}

.date-input-text {
	@include set-dimensions(120px, 20px);
	@include set-colors(#EEEEEE, #555555);

	padding: 4px 6px;

	border: 1px solid $flat-dark-gray;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;

	vertical-align: bottom;
	text-indent: 2px;
}

.date-input-show-calendar {
	@include set-dimensions(30px, 30px);
	background-color: #EEEEEE;

	border: 1px solid $flat-dark-gray;
	border-left-style: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;

	vertical-align: bottom;
	text-align: center;
	line-height: 30px;

	background-image: url('/assets/img/dateinput/calendar-20px.png');
	background-repeat: no-repeat;
	background-position: center;

	&:focus {
		outline: none;
	}

	&:hover {
		cursor: pointer;
	}
}

.datetime-input-wrapper {
	.date-input-wrapper {
		display: inline;
	}
}

.datetime-dropdowns {
	display: inline;
	margin-left: 2px;

	select {
		height: 30px;
		@include set-colors(#EEEEEE, #555555);
		border-radius: 3px;
	}
}