// ---------- Dimensions ----------

$navbar-height: 60px;
$navbar-border-height: 3px;
$center-column-width: 650px;

// ---------- Individual styling ----------

.app-wrapper {
	overflow-y: auto;
}

.main-view {
	// Flexbox properties
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	
	// Dimensions
	width: 850px;
	height: calc(100vh - calc(#{$navbar-height} + #{$navbar-border-height}));

	// Placing
	margin: auto;
}

.center-column {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: $center-column-width;
	min-height: 100%;
	background-color: #FAFAFA;
}

.task-creation-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	width: 100%;
	min-height: 50px;

	background-color: $flat-white;

	border-bottom: 2px solid #C0C0C0;
}

.add-task-button {
	border: none;
	background: none;

	width: 75px;
	height: 30px;

	background-color: $flat-dark-gray;
	color: $flat-white;

	margin-left: 20px;
	border-radius: 5px;

	&:hover {
		background-color: $flat-mid-gray;
		cursor: pointer;
	}
}
