// ---------- Dimensions ----------

$auth-nav-height: 60px;
$navbar-border-height: 3px;

// ---------- Individual styling ----------

.auth-nav-wrapper {
	width: 100%;
	height: $auth-nav-height;
	background-color: #F7F7F7;

	border-bottom: $navbar-border-height solid #E3E3E3;
}

.auth-nav-content {
	max-width: 850px;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin: auto;
}

.auth-main {
	height: calc(100vh - calc(#{$auth-nav-height} + #{$navbar-border-height}));

	display: flex;
	justify-content: space-around;

	background: url('../../../build/assets/img/auth-background.png');
	background-repeat: no-repeat;
	background-position: center;
}

.auth-title {
	color: #FAFAFA;
	margin-top: 300px;
	font-size: 52pt;
}

.auth-tagline {
	color: #D7D7D7;
	margin-left: 35px;
	font-size: 40pt;
}

.auth-form {
	background-color: rgba(0, 0, 0, 0.2);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-top: 300px;
	margin-bottom: auto;
	padding: 25px;
	
	border-radius: 10px;
}

.auth-input-field {
  	width: 320px;

  	@include set-colors(rgba(0, 0, 0, 0), #E3E3E3);

  	padding: 2px 7px;
  	margin-bottom: 25px;

	border: none;
	border-bottom: 1px solid #E3E3E3;

	font-size: 17pt;

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: #A0A0A0;
	}
}

.auth-action {
	background: none;
	border: none;

	width: 90px;
	color: #E3E3E3;
	padding: 4px 10px;
	border: 2px solid #E3E3E3;

	font-size: 12pt;
	font-family: 'Montserrat', sans-serif;

	&:hover {
		cursor: pointer;
		@include set-colors(#E3E3E3, #555555);
	}
}

.auth-swap {
	background: none;
	border: none;

	font-size: 13pt;
	font-family: 'Montserrat', sans-serif;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

.auth-error-text {

}
